HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
user-module/src/main/resources/application.properties
auth-module/src/main/resources/application.properties
api/src/main/resources/application.properties
api/src/main/resources/application-dev.properties
BACKEND_GUIDELINES.md
user-module/MODULE_GUIDELINES.md
auth-module/MODULE_GUIDELINES.md
api/MODULE_GUIDELINES.md
call-module/MODULE_GUIDELINES.md
chat-module/MODULE_GUIDELINES.md
common/MODULE_GUIDELINES.md
friendship-module/MODULE_GUIDELINES.md
moderation-module/MODULE_GUIDELINES.md
post-module/MODULE_GUIDELINES.md